# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log

# Virtualenv
myenv/
myenv/**
venv/
.venv/
env/

# Local backups
myenv_backup_*/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Project
.history
irrigation_log.csv
